html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: courier;
    font-size: 12px;
    line-height: 10px;
    background: black;
  }
  canvas {
    display: block;
  }
  
  